{% extends 'outlay.html' %}
{% load static %}
<head>
    <title>イバルのキック</title>
</head>

{% block body%}
<body>
    <div id="scroll-target" class="container">
    <h1>Create Lesson</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if request.user.is_superuser %}
        <button type="submit">Save Lesson</button>
        {% endif %}
    </form>

    <a href="{% url 'stacktry:lesson_list' %}">予約ページに戻る</a>
    </div>
</body>
                <script>
                   document.addEventListener("DOMContentLoaded", function(event) {
                      var targetElement = document.getElementById("scroll-target");

                      if (targetElement) {
                         targetElement.scrollIntoView({ behavior: 'smooth' });
                      }
                   });
                </script>
{% endblock %}